.nav{
    display: flex;
    flex-direction: row;
    margin: 5 auto;

}
.navbar{
    margin-top: 58px;
    color: black !important;
}
.dropdown-toggle{
    font-weight: 900;
}
.navbar-nav{
    margin: auto;
}
.nav-item{
    margin: 1px 15px;
    color: black !important;
    list-style: none;
}
.nav-item a{
    text-decoration: none;
    color: #000;
}