.navbar{
    margin: auto;
    margin-top: 75px;
    background-color: #fff;
}
.navbar-nav{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    /* margin:  auto 0; */
    /* color: black !important; */
}
.dropdown-toggle{
    font-weight: 900;
}
.nav-item{
    margin: 1px 15px;
    color: black !important;
    list-style: none;
}
.nav-item a{
    text-decoration: none;
    color: #000;
}

.nav-item a:hover{
    text-decoration: none;
    color: #666;
}